- if @user.errors.any?
  %ol
    - @user.errors.full_messages.each do |msg|
      %li= msg

= form_for @user do |f|
  = f.label :name
  = f.text_field :name, :required => true
  = f.label :email
  = f.email_field :email, :required => true
  = f.submit
